<div class="jumbotron">
    
    <%= image_tag("guarantee.svg", class:"icon-logo", style:'width: 60px;')%>
    <h1><b>Store Stickers<b></h1>
    <p>
        Somos especialistas em adesivos que personalizam sua vida!
    </p>
    <p>
        <%= link_to 'Crie Sua Conta', new_user_path , class:'btn btn-primary btn-lg' %>
    </p>
</div>