<div class="row data-forms">
    <div class="col-md-6 col-xs-12">
        <h2>Cadastre-se</h2>
    </div>
    <div class="col-md-6 col-xs-12">
        <%= form_for @user do |f| %>

            <%= render 'form', f: f %>

            <%= f.submit 'Cadastrar', class: 'btn btn-primary'%>
        <% end %>
    </div>
</div>