<footer>
    <small>
        <%= link_to 'Store Stickers. Todos os direitos reservados', root_path %>
    </small>
    
    <nav class="nav-footer">
        <ul class="list-sub">
            <li>
                <%= link_to 'Sobre Nós', sobre_path %>
            </li>
            <li>
                <%= link_to 'Contato', contato_path %>
            </li>
        </ul>
    </nav>
</footer>